@{
    ViewBag.Title = "表单管理";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="padding: 15px;">
    <div class="layui-row">
        <div class="Query layui-form layui-col-md9"></div>
    </div>
    <div class="layui-row">
        <table id="demo" lay-filter="test"></table>
        <button type="button" class="layui-btn add">添加</button>
    </div>
</div>
@section Sidebar{
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">表单管理</a>
        <dl class="layui-nav-child">
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Staff'>员工管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Bill'>账单管理</a></dd>
            <dd class="layui-nav-item li layui-this"><a href="javascript:void(0)" n='Product'>产品管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Purchase'>进货管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Shipping'>出货管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Client'>客户管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Admini'>管理员管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Supplier'>供应商管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Type'>类型管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Order'>订单管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Department'>部门管理</a></dd>
            <dd class="layui-nav-item li"><a href="javascript:void(0)" n='Depot'>库存管理</a></dd>
        </dl>
    </li>
}
@section scripts{
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs detail" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs del" lay-event="del">删除</a>
    </script>
    <script>
        ; !function () {
            var layer = layui.layer
                , form = layui.form
                , table = layui.table
                , laydate = layui.laydate;
            //JavaScript代码区域
            var Switch = 'Product';
            $(function () {
                var showrow = {
                    Department: [
                        { field: 'departmentId', title: '部门编号', hides: 'true' },
                        { field: 'departmentName', title: '部门名称', InputType: 'text' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Staff: [
                        { field: 'StaffId', title: '员工编号', hides: 'true' },
                        { field: 'StaffName', title: '员工姓名', InputType: 'text' },
                        { field: 'EntryTime', title: '入职时间', InputType: 'dateTime', dateTime: 'dateTime' },
                        { field: 'departmentId', title: '部门名称', select: 'select', table: 'Department' },
                        { field: 'StaffSex', title: '性别', InputType: 'radio', sex: 'sex' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Admini: [
                        { field: 'adminiId', title: '编号', hides: 'true' },
                        { field: 'adminiName', title: '用户名', InputType: 'text' },
                        { field: 'adminiPassword', title: '密码' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Order: [
                        { field: 'OrderId', title: '编号', hides: 'true' },
                        { field: 'BarCode', title: '产品条码' },
                        { field: 'OrderTime', title: '订单时间', InputType: 'dateTime', dateTime: 'dateTime'},
                        { field: 'address', title: '所在地', InputType: 'text' },
                        { field: 'Remarks', title: '备注', InputType: 'text' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Supplier: [
                        { field: 'supplierId', title: '编号', hides: 'true' },
                        { field: 'principal', title: '负责人', InputType: 'text' },
                        { field: 'supplierName', title: '供应商名称', InputType: 'text' },
                        { field: 'Address', title: '地址', InputType: 'text' },
                        { field: 'phone', title: '电话' },
                        { field: 'Emli', title: '邮箱', InputType: 'text' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Purchase: [
                        { field: 'PurchaseId', title: '进货编号', hides: 'true' },
                        { field: 'ProductId', title: '产品名称', table: 'Product', select: 'select' },
                        { field: 'supplierId', title: '供应商名称', table: 'Supplier', select: 'select' },
                        { field: 'number', title: '数量' },
                        { field: 'status', title: '状态',  table: 'State', select: 'select' },
                        { field: 'PurchaseTime', title: '进货时间', InputType: 'dateTime', dateTime: 'dateTime', hides: 'true'},
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Shipping: [
                        { field: 'ShippingId', title: '出货编号', hides: 'true' },
                        { field: 'ShipperId', title: '出货单号'},
                        { field: 'ProductId', title: '产品名称', InputType: 'text', table: 'DepotNum', select: 'select' },
                        { field: 'number', title: '数量' ,max:''},
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Type: [
                        { field: 'typeID', title: '类型编号', hides: 'true' },
                        { field: 'typeName', title: '类型名称', InputType: 'text' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Client: [
                        { field: 'ClientId', title: '编号', hides: 'true' },
                        { field: 'ClientName', title: '姓名', InputType: 'text' },
                        { field: 'Emli', title: '邮箱', InputType: 'text' },
                        { field: 'Phone', title: '电话' },
                        { field: 'Address', title: '地址', InputType: 'text' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Product: [
                        { field: 'ProductId', title: '产品编号', hides: 'true' },
                        { field: 'Barcode', title: '产品条码' },
                        { field: 'ProductName', title: '产品名称' },
                        { field: 'money', title: '价格' },
                        { field: 'typeId', title: '类型', table: 'Type', select: 'select'  },
                        { field: 'Remarks', title: '备注' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Bill: [
                        { field: 'BillId', title: '编号', hides: 'true' },
                        { field: 'ProductId', title: '产品名称', table: 'Product', select: 'select' },
                        { field: 'BillNum', title: '数量' },
                        { field: 'BillTime', title: '时间', InputType: 'dateTime', dateTime: 'dateTime'},
                        { field: 'BillType', title: '备注'},
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ],
                    Depot: [
                        { field: 'Id', title: '编号', hides: 'true' },
                        { field: 'ProductId', title: '产品名称', table: 'Product', select: 'select' },
                        { field: 'stock', title: '数量' },
                        { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                    ]
                };
                SelectTable(showrow[Switch]);
                //切换表
                $('.layui-nav-tree .li a').click(function () {
                    Switch = $(this).attr('n');
                    SelectTable(showrow[Switch]);
                });
                //退出登录
                $('.exit').click(function () {
                    layer.confirm('是否退出登录', function (index) {
                    @{Session.Clear();}
                        location.href = "@Url.Action("Index", "Admin")";
                        layer.close(index);
                    });
                });
                //添加数据
                $('.add').click(function () {
                    //动态创建from表单
                    //弹窗
                    layer.open({
                        title: '在线调试'
                        , content: openAddData(showrow[Switch])
                        , btn: ['添加', '取消']
                        , type: 1
                        , id: 'add'
                        , success: function (layero, index) {
                            form.render();
                            laydate.render({
                                elem: '#text'
                                , trigger: 'click'
                            });
                        }
                        , yes: function (index, layero) {
                            $('[lay-filter="formDemo"]').click();
                        }
                        , btn2: function () { }
                    });
                });
                form.on('submit(formDemo)', function (data) {
                    console.log(data);
                    $.post(
                        '/Home/Add' + Switch,
                        data.field,
                        function (success) {
                            var Flag = success;
                            //判断是否添加成功
                            if (Flag == 'True') {
                                layer.closeAll();
                                SelectTable(showrow[Switch]);
                                layer.msg('添加数据成功');
                            } else {
                                layer.msg('添加数据失败');
                                layer.closeAll();
                            }
                        });

                    return false;
                });
                form.on('submit(QueryDemo)', function (data) {
                    console.log(data.field);
                    SelectTable(showrow[Switch], data.field);
                    return false;
                });
                //监听工具条
                table.on('tool(test)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'detail') {
                        var d = showrow[Switch];
                        var str = '';
                        $(d).each(function (i, dom) {
                            if (dom.field != undefined) {
                                str += `${dom.title}:${data[dom.field]}</br>`;
                            }
                        });
                        layer.msg(str);
                    } else if (obj.event === 'del') {
                        var result = data[showrow[Switch][0].field];
                        layer.confirm('真的删除行么', function (index) {
                            $.post('/Home/Test',
                                { 't': Switch, 'id': result },
                                function (success) {
                                    var str = '已删除'
                                    if (success=="1") {
                                        obj.del();
                                    } else {
                                        str = success;
                                    }
                                    layer.close(index);
                                    layer.msg(str, {
                                        time: 5000, //5s后自动关闭
                                    });
                                    SelectTable(showrow[Switch])
                                });
                        });
                    }
                });
                //监听select选择
                form.on('select(ProductId)', function (data) {
                    if (Switch != 'Shipping') {
                        return;
                    }
                    console.log(data.value); //得到被选中的值
                    $.post(
                        "/Home/GetSelectDepot"
                        , { id: data.value }
                        , function (success) {
                            var MaxNum = parseInt(success);
                            $("[name='number']").attr({ 'lay-verify': 'max', 'max': MaxNum});
                        });
                });
                form.verify({
                    max: function (value, item) {
                        var max = $(item).attr('max');
                        if (parseInt(value) > parseInt(max)) {
                            $(item).val(max);
                            return `出库数量不能大于库存数,当前库存数为${max}`;
                        }
                    }
                });
                //弹出框表单
                function openAddData(dom) {
                    var domStr = "";
                    $(dom).each(function (i, dom) {
                        var sr = '';
                        if (dom.select == 'select') {
                            $.ajax({
                              type: "POST",
                              url: `/Home/Select${dom.table}`,
                              async: false,
                                success: function (success) {
                                    console.log(success);
                                    var select = `<div class="layui-form-item"><label class="layui-form-label">${dom.title}</label><div class="layui-input-inline" ><select name="${dom.field}" lay-filter="${dom.field}">`;
                                    $(success).each(function (i, d) {
                                        select += `<option value="${d.id}" name="123">${d.name}</option>`
                                    });
                                    sr = select + '</select></div></div>';
                                },
                              dataType: "json"
                            });
                        } else if (dom.sex == 'sex') {
                            sr = `<div class="layui-form-item">
                                    <label class="layui-form-label">${dom.title}</label>
                                    <div class="layui-input-block">
                                      <input type="radio" name="${dom.field}" value="true" title="男">
                                      <input type="radio" name="${dom.field}" value="false" title="女" checked>
                                    </div>
                                  </div>`
                        } else if (dom.dateTime == 'dateTime' && dom.hides != 'true') {
                            sr = `<div class="layui-form-item">
                                            <label class="layui-form-label">${dom.title}</label>
                                            <div class="layui-input-inline">
                                                <input
                                                type="${dom.InputType}"
                                                name="${dom.field}"
                                                id='text'
                                                class="layui-input">
                                            </div>
                                     </div>`
                        } else if (dom.field != undefined && dom.hides != 'true') {
                            sr = `<div class="layui-form-item">
                                            <label class="layui-form-label">${dom.title}</label>
                                            <div class="layui-input-inline">
                                                <input
                                                type="${dom.InputType}"
                                                name="${dom.field}"
                                                class="layui-input">
                                            </div>
                                     </div>`
                        }
                        domStr += sr
                    });

                    return '<from class="layui-form" >' + domStr + `<input namae='Switch' hidden value='${Switch}'><button hidden lay-submit lay-filter="formDemo">立即提交</button></from>`;
                }
                //表格数据显示
                function SelectTable(data) {
                    layui.use('table', function () {
                        var table = layui.table;
                        //展示已知数据
                        table.render({
                            elem: '#demo'
                            , url: `/Home/${Switch}`
                            , cols: [data]
                            , width: 1000
                            , page: { layout: ['prev', 'page', 'next', 'count'] } //是否显示分页
                            , limit: 10 //每页默认显示的数量
                            , even: true
                            , size: 'sm'
                            , toolbar: true
                        });
                    });
                    $('.Query').html('').append(QueryFind());
                    form.render();
                    laydate.render({
                        elem: '#text'
                        , trigger: 'click'
                    });
                    laydate.render({
                        elem: '#text1'
                        , trigger: 'click'
                    });
                };
                function SelectTable(data, condition) {
                    layui.use('table', function () {
                        var table = layui.table;
                        //展示已知数据
                        table.render({
                            elem: '#demo'
                            , url: `/Home/${Switch}`
                            , cols: [data]
                            , width: 1000
                            , page: { layout: ['prev', 'page', 'next', 'count'] } //是否显示分页
                            , limit: 10 //每页默认显示的数量
                            , even: true
                            , size: 'sm'
                            , toolbar: true
                            , where: condition
                        });
                    });
                    $('.Query').html('').append(QueryFind());
                    form.render();
                    laydate.render({
                        elem: '#text'
                        , trigger: 'click'
                    });
                    laydate.render({
                        elem: '#text1'
                        , trigger: 'click'
                    });
                };
                function QueryFind() {
                    var Return = "";
                    $(showrow[Switch]).each(function (number, element) {
                        var eachReturn = "";

                        if (element.select == 'select') {
                            $.ajax({
                                type: "POST",
                                url: `/Home/Select${element.table}`,
                                async: false,
                                success: function (success) {
                                    var select = `<label class="layui-form-label">${element.title}</label>`
                                    select += `<div class="layui-input-inline" ><select name="${element.field}">`;
                                    select += `<option value="0" name="123">全部</option>`
                                    $(success).each(function (i, d) {
                                        select += `<option value="${d.id}" name="123">${d.name}</option>`
                                    });
                                    eachReturn = select + '</select></div>';
                                },
                                dataType: "json"
                            });
                        } else if (element.sex == 'sex') {
                            eachReturn = `
                                    <label class="layui-form-label">${element.title}</label>
                                    <div class="layui-input-inline">
                                      <input type="radio" name="sex" value="" title="全部" checked>
                                      <input type="radio" name="sex" value="1" title="男">
                                      <input type="radio" name="sex" value="2" title="女">
                                    </div>`
                        } else if (element.dateTime == 'dateTime') {
                            eachReturn = `<label class="layui-form-label">${element.title}</label>
                                            <div class="layui-input-inline">
                                                <input
                                                type="${element.InputType}"
                                                name="${element.field}"
                                                id='text1'
                                                class="layui-input">
                                            </div>`
                        } else if (element.field != undefined && element.hides != 'true') {
                            var Getmax;
                            if (element.max != undefined) {
                                Getmax=``
                            } else {
                                Getmax = '';
                            }
                            eachReturn += `<label class="layui-form-label">${element.title}</label>`
                            eachReturn += `<div class="layui-input-inline"><input `
                            eachReturn += `type = "${element.InputType}" name="${element.field}"`
                            eachReturn += ` class="layui-input"> </div>`
                        }
                        Return += eachReturn
                    });
                    Return = `<div class="layui-form-item">` + Return;
                    Return += `<div class="layui-form-item"><div class="layui-input-block">`;
                    Return += `<button class="layui-btn" lay-submit lay-filter="QueryDemo">查询</button>`
                    Return += `<button type="reset" class="layui-btn layui-btn-primary">重置</button>`;
                    Return += `</div></div></div>`;
                    return Return;
                }
            });
        }();
    </script>
}
